/* MatchingLine.css */

.matching-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.questions,
.answers {
  display: flex;
  flex-direction: column;
}

.question-box,
.answer-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.matching-lines {
  position: relative;
}

.matching-line {
  border: 1px solid black;
  pointer-events: none;
}

.hidden-element {
  position: absolute;
  left: -9999px;
}

.matching-remove {
  cursor: pointer;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
